<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <!--    <link resources\static\style.css>-->
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Title</title>
</head>
<body>

<div class="header" th:fragment="header">
    <div class="logo">
        <div class="img" style="display:inline-block">
            <img src="../img/logo.png" alt="" width="64" height="64"/>
        </div>
        <div id="logotxt" style="display:inline-block">
            <h2>Simple Cooking</h2>
        </div>
        <div class="img" style="display:inline-block">
            <img src="../img/logo.png" alt="" width="64" height="64"/>
        </div>
        <div style="clear:both"></div>
    </div>

    <nav class="navbar navbar-dark bg-white navbar-expand-md" >
        <!--        <a class="navbar-brand d-inline-block mr-2 mr-sm-5 " href="/">-->
        <!--            CookBook.com</a>-->
        <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#mainmenu"
                aria-controls="mainmenu"
                aria-expanded="false" aria-label="Przełącznik"><span class="navbar-toggler-icon"></span></button>

        <div class="collapce navbar-collapse navbar-dark" th:id="mainmenu">
            <div class="option">
                <a style="color: #00c874" href="/category/">Recipe book</a>
            </div>

            <div class="option">
                <a style="color: #00c874" href="/category/MEAT">Meat</a>
            </div>

<!--            <div class="option" th:each="categories: ${category.category}">-->
<!--                <a style="color: #00c874" th:href="|?category=${category.category}/recipe|">Enum</a>-->
<!--            </div>-->


        </div>
    </nav>
</div>


<div class="topRecipies" th:fragment="topRecipies">
    <div>
        <h4>Top recipes</h4>
    </div>
</div>


</body>
</html>