<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<meta charset="UTF-8">

<head>
    <link href="https://fonts.googleapis.com/css?family=Sofia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" type="text/css">


    <title>Recipe</title>
</head>

<body>

<div class="conteiner">

    <div th:replace="elements :: header"></div>
    <div th:replace="elements :: navbarCategories"></div>

    <div class="leftContent" style="display:inline-block">
        <div class="bar">
            <h4 th:text="${recipe.getName()}">Recipe name</h4>
        </div>
        <div class="receipeBody" style="width: 780px">
            <img th:src="${recipe.getPicture()}" width="400px"></br>
            <b><a style="font-size: 22px; color: #00cc44">Ingredient</a></b></br>
            <span th:text="${recipe.getIngredients()}">Ingredient</span></br>
            <b><a style="font-size: 22px; color: #00cc44">Instructions</a></b></br>
            <span th:text="${recipe.getInstructions()}">Instruction</span>
            </br>
            </br>
            <div>
                <div style="display: inline-block;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-light" th:href="|/edit?id=${recipe.id}|">Edit.</a>
                        <a class="btn btn-light" th:href="|/delete?id=${recipe.id}|">Delete.</a>
                    </div>
                </div>
                <div style="display: inline-block">
                    <div>
                        <label style="color: #00c874; font-weight: lighter; font-family: 'Sofia', cursive;
                    text-align: center; padding-top: 3px;">
                            Rate this recipe (after you've made it):</label>
                    </div>
                    <div class="rate" style="display: inline-block">
                        <input type="radio" id="star5" name="rate" value="5"/>
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4"/>
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3"/>
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2"/>
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1"/>
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="rightContent" style="display:inline-block">

    </div>


</div>

</body>
</html>